<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs160.joleary.catnip">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service
            android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".RepresentativesActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_representatives"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs160.joleary.catnip.MainActivity" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_detail_representatives"
            android:parentActivityName=".RepresentativesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs160.joleary.catnip.RepresentativesActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_PS95MNrPlhVib5LSZR9hpfy0mI570lM"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="031b49b58338694f88b940764eac12de12057cda" />
    </application>

</manifest>
